<!--

<button mat-raised-button [routerLink]="['home']">home</button>
<button mat-raised-button [routerLink]="['products']">products</button>
<button mat-raised-button [routerLink]="['contact']">contact</button>
<button mat-stroked-button [routerLink]="['admin']">admin</button>



<router-outlet></router-outlet>
 -->




<div style="display: flex; flex-direction: column; background-color: cadetblue;">

    <div class="df">
        <app-categories-nav></app-categories-nav>
    </div>

    <router-outlet></router-outlet>
</div>



