


<div class="pr w-500px">

    <mat-spinner diameter="32" *ngIf="user == null" class="mt-20"></mat-spinner>

    <div *ngIf="user">
        <p class="header">
            Edytowanie istniejącej pozycji
        </p>
        <p class="subHeader">
            Wypełnij wszystkie pola aby móc dodać nową pozycję
        </p>

        <div mat-dialog-content>
            <form [formGroup]="formGroup" class="w-500px db">


                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" />
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>


                <mat-form-field appearance="outline">
                    <mat-label>Role</mat-label>
                    <mat-select formControlName="roleId">
                        <mat-option *ngFor="let role of roles" [value]="role.id">
                            {{ role.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>


                <mat-form-field appearance="outline">
                    <mat-label>Imie</mat-label>
                    <input matInput formControlName="imie" />
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Nazwisko</mat-label>
                    <input matInput formControlName="nazwisko" />
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Ulica</mat-label>
                    <input matInput formControlName="ulica" />
                </mat-form-field>


                <div class="db">
                    <mat-form-field appearance="outline">
                        <mat-label>Numer ulicy</mat-label>
                        <input matInput formControlName="numerUlicy" />
                    </mat-form-field>
                    <mat-error *ngIf="formGroup.controls['numerUlicy'].hasError('pattern')" class="matError">
                        Pole, które przyjmuje tylko i wyłącznie liczby
                    </mat-error>
                </div>


                <mat-form-field appearance="outline">
                    <mat-label>Miejscowość</mat-label>
                    <input matInput formControlName="miejscowosc" />
                </mat-form-field>


                <div class="db">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Kod pocztowy</mat-label>
                        <input matInput formControlName="kodPocztowy" />
                    </mat-form-field>
                    <mat-error *ngIf="formGroup.controls['kodPocztowy'].hasError('pattern')" class="matError">
                        Niepoprawny format kodu pocztowego. Wymagany format to XX-XXX.
                    </mat-error>
                </div>

                <mat-form-field appearance="outline">
                    <mat-label>Kraj</mat-label>
                    <input matInput formControlName="kraj" />
                </mat-form-field>


                <mat-form-field appearance="outline">
                    <mat-label>Data urodzenia</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="dataUrodzenia" />
                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>



                <div class="db">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Telefon</mat-label>
                        <input matInput formControlName="telefon" />
                    </mat-form-field>
                    <mat-error *ngIf="formGroup.controls['telefon'].hasError('pattern')" class="matError">
                        Prawidłowy format telefonu '125125125'
                    </mat-error>
                </div>

            </form>
        </div>


        <div class="df-sb bottom-buttons" style="margin-bottom: 100px;">
            <button mat-raised-button color="warn" mat-dialog-close [routerLink]="['/admin']">
                Wstecz
            </button>

            <div>
                <button mat-raised-button color="warn" mat-dialog-close class="mr-10" [routerLink]="['/admin']">
                    <mat-icon>cancel</mat-icon>
                    Anuluj
                </button>
                <button mat-raised-button
                        color="primary"
                        (click)="accountHandlerService.updateAccount(user, formGroup)"
                        [disabled]="accountHandlerService.isValidUpdate(formGroup)"
                        mat-dialog-close>
                    <mat-icon>
                        timer
                    </mat-icon>
                    Zapisz
                </button>
                <mat-spinner diameter="32" *ngIf="accountHandlerService.zapisywanie" class="p"></mat-spinner>

            </div>
        </div>
    </div>

</div>


