
 
<div class="pr w-500px">

    <mat-spinner diameter="32" *ngIf="subcategory == null" class="mt-20"></mat-spinner>

    <div *ngIf="subcategory" class="db">

        <p class="header">
            Edytowanie pozycji
        </p>
        <p class="subHeader">
            Wprowadź dane, które mają być zmienione
        </p>

        <div mat-dialog-content>
            <form [formGroup]="formGroup" class="w-500px db">

                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" />
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Full name</mat-label>
                    <input matInput formControlName="fullName" />
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="categoryId">
                        <mat-option *ngFor="let category of categories" [value]="category.categoryId">
                            {{ category.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </form>
        </div>

        <div class="df-sb bottom-buttons">
            <button mat-raised-button color="warn" mat-dialog-close [routerLink]="['../../../subcategories']" class="mr-10">
                <mat-icon>cancel</mat-icon>
                Wstecz
            </button>

            <div class="db centerxy">
                <button mat-raised-button
                        color="primary"
                        (click)="subcategoriesHandlerService.edit(subcategory.subcategoryId,formGroup)"
                        [disabled]="subcategoriesHandlerService.isValidEdit(formGroup)"
                        mat-dialog-close>
                    <mat-icon>
                        timer
                    </mat-icon>
                    Save
                </button>
                <mat-spinner diameter="32" *ngIf="subcategoriesHandlerService.loadingElements" class="spinner"></mat-spinner>
            </div>



        </div>
    </div>
</div>
 
