

<div class="db w-500px">

    <p class="header">
        Dodawanie nowej pozycji
    </p>
    <p class="subHeader">
        Wprowadź nazwę aby dodać nową pozycję
    </p>

    <div>
        <form [formGroup]="formGroup" class="w-500px db">

            <mat-form-field appearance="outline">
                <mat-label>Nazwa</mat-label>
                <input matInput formControlName="name" />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Opis</mat-label>
                <textarea matInput formControlName="description" style="width: 100%; height: 200px;"></textarea>
            </mat-form-field>


            <div class="db">
                <mat-form-field appearance="outline">
                    <mat-label>Cena</mat-label>
                    <input matInput formControlName="price" />
                </mat-form-field>
                <mat-error *ngIf="formGroup.controls['price'].hasError('pattern')" class="matError">
                    Pole, które przyjmuje wartości z przecinkiem
                </mat-error>
            </div>


            <div class="db">
                <mat-form-field appearance="outline">
                    <mat-label>Ilość</mat-label>
                    <input matInput formControlName="quantity" />
                </mat-form-field>
                <mat-error *ngIf="formGroup.controls['quantity'].hasError('pattern')" class="matError">
                    Pole, które przyjmuje tylko i wyłącznie liczby całkowite
                </mat-error>
            </div>

            <mat-form-field appearance="outline">
                <mat-label>Rozmiar</mat-label>
                <input matInput formControlName="rozmiar" />
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>Kolor</mat-label>
                <input matInput formControlName="kolor" />
            </mat-form-field>


             

            <div class="pr">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Marka</mat-label>
                    <mat-select formControlName="markaId">
                        <mat-option *ngFor="let marka of marki" [value]="marka.markaId">
                            {{ marka.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <mat-spinner diameter="32" *ngIf="isLoading" class="spinner pa"></mat-spinner> -->
            </div>



            <div class="pr">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="categoryId" (selectionChange)="onSelectionChangeCategory($event)">
                        <mat-option *ngFor="let category of categories" [value]="category.categoryId">
                            {{ category.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <mat-spinner diameter="32" *ngIf="isLoading" class="spinner pa"></mat-spinner> -->
            </div>

             

            <div class="pr">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Subcategory</mat-label>
                    <mat-select formControlName="subcategoryId" (selectionChange)="onSelectionChangeSubcategory($event)">
                        <mat-option *ngFor="let subcategory of subcategories" [value]="subcategory.subcategoryId">
                            {{ subcategory.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <mat-spinner diameter="32" *ngIf="isLoading" class="spinner pa"></mat-spinner> -->
            </div>


             


            <div class="pr">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Subsubategory</mat-label>
                    <mat-select formControlName="subsubcategoryId">
                        <mat-option *ngFor="let subsubcategory of subsubcategories" [value]="subsubcategory.subsubcategoryId">
                            {{ subsubcategory.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <mat-spinner diameter="32" *ngIf="isLoading" class="spinner pa"></mat-spinner> -->
            </div>



        </form>
    </div>



    <div class="df-sb bottom-buttons">
        <button mat-raised-button color="warn" mat-dialog-close [routerLink]="['../../products']">
            Wstecz
        </button>


        <div class="df centerxy">
            <button mat-raised-button color="warn" mat-dialog-close class="mr-10" [routerLink]="['../../products']">
                <mat-icon>cancel</mat-icon>
                Anuluj
            </button>
            <button mat-raised-button
                    color="primary"
                    (click)="productsService.create(formGroup)"
                    [disabled]="productsService.isValidCreate(formGroup)"
                    mat-dialog-close>
                <mat-icon>
                    timer
                </mat-icon>
                Zapisz
            </button>
            <mat-spinner diameter="32" *ngIf="productsService.loadingElements" class="spinner"></mat-spinner>
        </div>




    </div>
</div>
